/* Definindo as cores principais */
:root {
    --cor-principal: #4CAF50; /* Verde suave */
    --cor-secundaria: #f0f0f0; /* Cinza claro */
    --cor-texto: #333; /* Texto escuro */
    --cor-botao: #4CAF50; /* Verde para botões */
    --cor-botao-hover: #45a049; /* Verde escuro para hover */
}

/* Aplicando estilos gerais ao corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    color: var(--cor-texto);
}

/* Estilo para o cabeçalho */
h2 {
    color: var(--cor-principal);
    text-align: center;
    margin-bottom: 20px;
}

/* Estilizando o formulário */
form {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

/* Estilizando os grupos de formulário */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input[type="text"]:focus,
.form-group input[type="date"]:focus,
.form-group select:focus {
    border-color: var(--cor-principal);
    outline: none;
}

/* Estilo para os botões */
.button-container {
    text-align: center;
}

.btn {
    background-color: var(--cor-botao);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}

.btn:hover {
    background-color: var(--cor-botao-hover);
}

/* Estilo para a seção dos botões secundários */
.btn-container {
    text-align: center;
    margin-top: 20px;
}

.btn-secondary {
    background-color: #e7e7e7;
    color: var(--cor-texto);
}

.btn-secondary:hover {
    background-color: #ddd;
}

/* Estilizando a seção de opções de castrado */
.input-container {
    margin-bottom: 15px;
}

.input-container label {
    font-weight: bold;
    margin-right: 10px;
}

.input-container input[type="radio"] {
    margin-right: 5px;
}